
{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        {% for art in article%}
        <div class="col-md-4">
            <div class="card"  >
                <div class="card-body">
                    <b>{{art.title}}</b><br>
                    <img src="{{art.publishedAt}}" alt="cover pic" width="350px">
                    <p>{{art.description}}</p>
                    <a href="{{art.image}}">Read More</a>
                    <p> {{art.readMore}} </p>      
                
                        
                
                </div>
            </div>
        </div>
           
    </div>
</div>


{% endfor %}
{% endblock %}