
{% extends 'base.html' %}



{% block content %}
<div class="jumbotron">
    <h1>News~Scoops</h1>
    <h2>If it maters to you,It matters to us</h2>
    <h3> Top Stories </h3>
</div>

<div class="row">
    {% for art in article%}  
    <div class="col-md-4">
    <div class="card-group">
    <div class="card ">
            <h5 class="card-title"><b>{{art.title}}</b></h5>
        <img src="{{art.publishedAt}}" class="card-img-top" alt="source image" width=" 400px ">
        <div class="card-body">
          <p class="card-text"> {{art.description}} </p>
          <a href="{{art.image}}" class="btn btn-primary">Read More</a>
        </div>
        <div class="card-footer">
            <p class="card-text">Published on: {{art.readMore}} </p>
        </div>
      </div>
    </div>
    </div>

{% endfor %}
</div>


<style>
    .card{
        padding: 10px;
        max-height: 450px;
        overflow:auto;
        /* max-width: 450px ; */
        box-shadow: 3px 3px 3px white;
        margin: 10px;
    }

    body{
        background-image: url("https://www.xmple.com/wallpaper/linear-white-gradient-blue-highlight-1920x1080-c2-ffffff-87cefa-l-67-a-60-f-21.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .jumbotron{
    background-color: transparent;
    text-align: center;
    padding: 15px;
}
</style>




{% endblock %}