{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<h1>Welcome</h1>
<!-- 
<div class="container">
    <div class="card">
        <div class="card_title">
            <h3>News Sources</h3>
        </div>
        <div class="card_body">
            {{macro.displayNewsList(sources)}}
        </div>
    </div>
</div> -->

<h3>News Sources</h3>
<ul>
    <!-- {% for each_local_news in sources %}
        <li> {{each_local_news.name}} </li>

    {% endfor %} -->
    {{macro.displayNewsList(sources)}}
</ul>
{% endblock %}