{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="jumbotron">
    <h1>News~Scoops</h1>
    <h2>If it maters to you,It matters to us</h2>
    <h3>News sources</h3>
</div>

<!-- 
<div class="container">
    <div class="card">
        <div class="card_title">
            <h3>News Sources</h3>
        </div>
        <div class="card_body">
            {{macro.displayNewsList(sources)}}
        </div>
    </div>
</div> -->

<!-- <h3>News Sources</h3> -->
<ul>
    <!-- {% for each_local_news in sources %}
        <li> {{each_local_news.name}} </li>

    {% endfor %} -->
    {{macro.displayNewsList(sources)}}
    <link rel="stylesheet" href=" {{url_for('static',filename='CSS/index.css')}} ">
</ul>

<style>
body{
    background-image: url("https://www.xmple.com/wallpaper/linear-white-gradient-blue-highlight-1920x1080-c2-ffffff-87cefa-l-67-a-60-f-21.svg");
    background-repeat: repeat;
    background-size: cover;
    background-position: left;
}

.jumbotron{
    background-color: transparent;
    text-align: center;
    padding: 15px;
}
.jumbotron > h1{
    text-align: center;
}

</style>
{% endblock %}