<!-- {% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
            <img src="{{story.image}}" alt="story image">
        </div>
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
            <h2>{{story.title}}</h2>
            <p> {{story.description}} </p>
            <p> {{story.author}} {{story.publishedAt}}  </p>
            <button><a href="{{story.readMore}}">Read More</a></button>
        </div>
    </div>
</div>
{% endblock %} -->